body {
  text-align: center;
  margin: 0;
}
.header-1 {
  background-image: url("img/background.jpg");
  background-color: #cccccc;
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
  width="100%"
  filter: sarelative(1.3), blur(2px);
}
.image-header {
  text-align: center;
  border-radius: 100%;
  box-shadow: 10px;
  position: sticky;
  width: 100%;
  filter: saturate(1.3);
}
.text {
  font-family: Apple Chansery, cursive;
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  display: inline;
  font-size: 45px;
  top: 157px;
  right: 118px;
  left: 118px;
}
.gradient-text {
  background-color: red;
  background-image: linear-gradient(45deg, #FFFFFF, #FFC9C1);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF93DA;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #FFC9C1;
  color: white;
}
