body {
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header-1 {
  background-image: url("img/background.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image-header {
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 1px 1rem var(--black);
  position: sticky;
}
.text {
  font-family: didot;
  color: white;
  position: absolute;
  top: 40px;
  bottom: 40px;
  text-align: center;
  font-size: 50px;
}