body {
  text-align: center;
  margin: 0;
}
.header-1 {
  background-image: url("img/background.jpg");
  background-color: #cccccc;
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
  width="100%"
  filter: sarelative(1.3), blur(2px);
}
.image-header {
  text-align: center;
  border-radius: 100%;
  box-shadow: 10px;
  position: sticky;
  width: 100%;
  filter: saturate(1.3);
}
.text {
  font-family: Apple Chansery, cursive;
  color: #FFF7ED;
  position: absolute;
  text-align: center;
  display: inline;
  font-size: 45px;
  top: 155px;
}